{% extends "Blog/padre.html" %}

{% load static %}

{% block contenido_que_cambia %}
<title>Sobre la página y las co-autoras</title>

<h4> Sobre el sitio: </h4>

<p> Se trata de un blog, donde podrás encontrar algunos artículos cargados con ciertos atributos como titulo, subtitulo, texto, imagen, etc. Además, podrás crear tus propios artículos y autores para relacionar a los artículos. También, si querés buscar algún artículo en particular podrás hacerlo filtrando por el título. De la misma manera, podrás registrarte para navegar por el sitio y editar tu perfil tanto como necesites, cambiando tus datos personales, email y hasta agregando un Avatar.  </p>

<h4> Sobre las creadoras:</h4>

<p> Somos Maria Lucila y Mariana. Creamos este sitio web como parte del trabajo final de un curso de Python. Si bien aprender un lenguaje de programación es un gran desafio, estamos sorprendidas con lo que logramos de la mano de Python y Django. Esperamos hacer crecer nuestras habilidades de Python y del mundo de la programación</p>

{% endblock %}