{% extends "Blog/padre.html" %}

{% load static %}

{% block contenido_que_cambia %}
<h4>Mapa del sitio:</h4>
<h5><a href="http://127.0.0.1:8000/blog/registro/">Registro</a>, página donde crear su propio usuario para poder contribuir en el blog.</h5>
<h5><a href="http://127.0.0.1:8000/blog/inicio/">Inicio</a>, home page de nuestro blog.</h5>
<h5><a href="http://127.0.0.1:8000/blog/formulario-autor/">Creación de autores</a>, formulario para crear su nuevo autor.</h5>
<h5><a href="http://127.0.0.1:8000/blog/formulario-articulo/">Creación de artículos</a>, formulario para crear un nuevo artículo.</h5>
<h5><a href="http://127.0.0.1:8000/blog/formulario-seccion/">Creación de secciones</a>, formulario para crear una nueva categoría para sus artículos.</h5>
<h5><a href="http://127.0.0.1:8000/blog/busqueda-art/">Búsqueda</a>, formulario para la búsqueda de algún artículo específico.</h5>

{% endblock %}