{% extends "Blog/padre.html" %}

{% load static %}

{% block contenido_que_cambia %}
<h4>Mapa del sitio:</h4>
<h3><a href="registro/">Registro</a>, página donde crear su propio usuario para poder contribuir en el blog.</h3>
<h3><a href="inicio/">Inicio</a>, home paga de nuestro blog.</h3>
<h3><a href="formulario-autor/">Creación de autores</a>, formulario para crear su nuevo autor.</h3>
<h3><a href="formulario-articulo/">Creación de artículos</a>, formulario para crear un nuevo artículo.</h3>
<h3><a href="formulario-seccion/">Creación de secciones</a>, formulario para crear una nueva categoría para sus artículos.</h3>
<h3><a href="busqueda-art/">Búsqueda</a>, formulario para la búsqueda de algún artículo específico.</h3>

{% endblock %}