{% extends "Blog/padre.html" %}

{% block contenido_que_cambia %}

<h3>Articulos del Blog</h3>



<ul>
    {% for articulo in object_list %}
    <li>
        <p> Título: {{articulo.titulo}}</p>
        <p> Autor: {{articulo.username_autor}}</p>
        <p> Fecha de Publicación: {{articulo.fecha_de_publicacion}}</p>
        <p> Categoría: {{articulo.sections}}</p>
        <a href="{% url 'ArticuloDetail' articulo.id %}"> Leer más... </a>
        <a href="{% url 'ArticuloUpdate' articulo.id %}"> Editar </a>
        <a href="{% url 'ArticuloDelete' articulo.id %}"> Borrar </a>

    </li>
    {% endfor %}

</ul>


{% endblock %}

<!--Falta agregar el leer más-->


