{% extends "Blog/padre.html" %}

{% block contenido_que_cambia %}

<h3>Articulos del Blog</h3>

{% if object_list %}

    <ul>
        {% for articulo in object_list %}
        <li>
            <p> Título: {{articulo.titulo}}</p>
            <p> Subtítulo: {{articulo.subtitulo}}</p>
            <p> Autor: {{articulo.username_autor}}</p>
            <p> Fecha de Publicación: {{articulo.fecha_de_publicacion}}</p>
            <a href="{% url 'ArticuloDetail' articulo.id %}"> Leer más... </a>
            <a href="{% url 'ArticuloUpdate' articulo.id %}"> Editar </a>
            <a href="{% url 'ArticuloDelete' articulo.id %}"> Borrar </a>

        </li>
    {% endfor %}

    </ul>
{% else %}

No hay ningún artículo creado.

{% endif %}

{% endblock %}

<!--Falta agregar el leer más-->


